* {
    outline: none;
    font-family: "Arial", Helvetica, sans-serif;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-wrapper ul {
    display: flex;
}

.header-wrapper ul li {
    list-style-type: none;
    padding: 5px;
}
.header-wrapper ul li button {
    background: transparent;
    border: none;
    color: blueviolet;
    font-size: 18px;
    cursor: pointer;
}

.header-wrapper ul li a {
    text-decoration: none;
}

.footer-wrapper {
    position: fixed;
    bottom: 0;
    background: #fff;
    font-size: 10px;
    width: 100%;
    text-align: center;
}


.input-wrapper {
    margin: 10px;
}

.input-field {
    width: 200px;
    height: 30px;
}

.button {
    width: 200px;
    height: 30px;
}

.container {
    text-align: center;
}

.button-link {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    margin: 20px;
    color: blue;
}

.input_error {
    position: absolute;
    color: red;
    font-size: 18px;
    padding: 8px;
}

table, td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 10px;
}
table  td button {
    margin: 5px;
}

table img {
    width: 80px;
}

/* main page css */
.main_page_banner, .restaurant_page_banner {
    background-image: url("https://a.storyblok.com/f/88809/1150x450/30a9c4f9a6/igevia_header_fastfood01_450.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    padding: 30px;
    height: 230px;
    color: #fff;
    text-align: center;
}

.input_wrqapper{
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: auto;
    width: 60%;
}

.select_input {
    height: 40px;
    border: none;
    width: 20%;
    padding-left: 15px;
}

.search_input {
    height: 40px;
    border: none;
    width: 45%;
    border-left: 1px solid #ccc;
    padding-left: 15px;
}

.location_list{
    color: #000;
    list-style: none;
    text-align: left;
    position: absolute;
    background-color: white;
    padding: 0;
    margin: 0;
    margin-left: -5px;
    border: 1px solid #ccc;
}

.location_list li{
    width: 180px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.restaurant_list_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 40px;
        margin-bottom: 50px;
}
.restaurant_wrapper {
    width: 45%;
    background-color: orange;
    margin: 10px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
}
.restaurant_wrapper .heading_wrapper, .restaurant_wrapper .address_wrapper {
    padding: 15px;
    display: flex;
    justify-content: flex-start;
}
.restaurant_wrapper h5 {
    margin-left: 15px;
}
.restaurant_wrapper .address {
    margin-left: 5px;
}

.restaurant_page_banner h1 {
    font-size: 65px;
}

.detail-wrapper {
    display: flex;
    background-color: orange;
    padding-left: 20px;
}
.detail-wrapper h4 {
    width: 50%;
}
.food-item-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}
.food-item-wrapper .list-item {
    color: orange;
    border-bottom: 1px solid orange;
    padding: 20px;
    display: flex;
    text-transform: capitalize;
    font-weight: bold;
}
.food-item-wrapper .list-item button {
    border: none;
    color: #fff;
    background-color: orange;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}
.food-item-wrapper .list-item img {
    width: 100px;
    padding-right: 20px;
}
.food-item-wrapper .list-item .description {
    font-weight: lighter;
    margin-bottom: 5px;
}

/* cart page css */
.list-item-block1 {
    width: 25%;
}
.list-item-block2 {
    width: 80%;
}
.list-item-block3 {
    width: 25%;
}
.total-wrapper {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid orange;
    padding-bottom: 20px;
}
.total-wrapper .row {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    color: orange;
    font-weight: bold;
    font-size: 20px;
}
.total-wrapper .block1 {
    width: 70%;
}
.total-wrapper .block2 {
    width: 30%;
}
.total-wrapper .block2 button{
    padding: 10px 25px;
    background-color: orange;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.auth-container{
    display: flex;
}
.login-wrapper, .signup-wrapper {
    height: 400px;
    border: 1px solid #ccc;
    margin: 50px;
    padding: 20px;
    width: 50%;
    text-align: center;
}