.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-wrapper ul {
    display: flex;
}

.header-wrapper ul li {
    list-style-type: none;
    padding: 5px;
}
.header-wrapper ul li button {
    background: transparent;
    border: none;
    color: blueviolet;
    font-size: 18px;
    cursor: pointer;
}

.header-wrapper ul li a {
    text-decoration: none;
}

.footer-wrapper {
    position: fixed;
    bottom: 0;
    background: #fff;
    font-size: 10px;
    width: 100%;
    text-align: center;
}

